@{
    ViewBag.Title = "Services";
}

<h1>Our Services</h1>
<p>We offer a wide range of babysitting services to meet your needs.</p>
<ul>
    <li>Infant care</li>
    <li>Toddler care</li>
    <li>After school care</li>
    <li>Overnight care</li>
    <li>Special needs care</li>
</ul>